<!DOCTYPE html>
<html>
<head>
    <title>Lobby {{ lobby.lobby_id }}</title>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var startGameUrl = '{{ url_for("start_game", lobby_id=lobby.lobby_id) }}';
        var gameUrl = '{{ url_for("game", lobby_id=lobby.lobby_id) }}';
        var userToken = '{{ user_token }}';
        var lobbyId = '{{ lobby.lobby_id }}';
        var gameStarted = '{{ lobby.game_started }}';
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/lobby');
        var minParticipants = 2; //minimum number of participants before any game can start
        var alreadyJoined = "{{ 'true' if already_joined else 'false' }}";
        

        //function to hide the join form after a user joins
        function hideJoinForm(){
            //hide join
            var joinForm = document.querySelector('form');
            if (joinForm) {
                joinForm.style.display = 'none';
            }
        }

        function showStartGameButton(){
            var participantList = document.getElementById('participants');
            if (isCreator && participantList.getElementsByTagName('li').length >= minParticipants) {
                document.getElementById('startGameButton').style.display = 'block';
            }
        }

        //explain why we need to duplicate logic here (page refresh...)
        document.addEventListener('DOMContentLoaded', function () {
            var hasJoined = alreadyJoined === 'true';

            //if the game has started, then the join form should be hidden for all users accessing the lobby
            if (gameStarted === 'True') {
                if (hasJoined === false) {
                    //hide join
                    hideJoinForm();

                    //display closed lobby message
                    document.getElementById('lobbyClosedMessage').style.display = 'block';
                }
            }

            //not sure why this had to be inside this event listener?
            socket.on('lobby_closed', function(data) {
                if (data.lobby_id === lobbyId) {
                    //hide join
                    hideJoinForm();

                    //display closed lobby message
                    document.getElementById('lobbyClosedMessage').style.display = 'block';
                }
            });

            //if a game has started, and the user has joined, redirect them to the game page
            socket.on('redirect_to_game', function(data) {
                if (hasJoined) {
                        window.location.href = gameUrl;
                }
            });

            //user has joined and game has not started yet - hide option to join again
            if (hasJoined) {
                hideJoinForm();
            }

            //show "Start Game" button if there are enough players (this is initally triggered elswhere but we need this here as well in case the lobby creator manually refreshes)
            showStartGameButton();
        });

        // Handle the join event - this:
        // 1) dynamically updates the participant list for all users when a new user has joined
        // 2) performs a page refresh for only the current user if they are the ones who joined (this triggers the /lobby/<lobby_id> route in app.py correctly setting the already_joined value for the current user)
        socket.on('update_participants', function(data) {
            if (data.user_token === userToken) {
                // easiest fix is to just refresh the page :(
                location.reload()
            }

            // Update the participant list when a new user has joined
            var participantList = document.getElementById('participants');
            participantList.innerHTML += '<li>' + data.name + '</li>';

            // show "Start Game" to lobby creator when we reach the minParticipants threshold
            showStartGameButton();
        });

        function startGame() {
            fetch(startGameUrl, { method: 'POST' })
                .then(response => {
                    window.location.href = gameUrl;
                });
        }
    </script>
</head>
<body>
    <h1>Lobby ID: {{ lobby.lobby_id }}</h1>
    <h2>Created by: {{ lobby.creator_name }}</h2>
    <h3>Participants:</h3>
    <ul id="participants">
        {% for participant in participants %}
            <li>{{ participant.name }}</li>
        {% endfor %}
    </ul>

    {% if is_creator %}
    <button id="startGameButton" onclick="startGame()" style="display: none;">Start Game</button>
    {% endif %}

    {% if not is_creator and not already_joined %}
    <form onsubmit="return joinLobby()">
        <label for="name">Enter your name to join:</label>
        <input type="text" id="name" name="name" required>
        <input type="submit" value="Join Lobby">
    </form>
    <div id="lobbyClosedMessage" style="display: none;">
        Sorry, you cannot join the lobby at this time as a game has started. You may join this lobby once participants finish with their game and return to lobby.
    </div>
    {% endif %}

    <p id="waitingMessage" style="display: none;">Waiting for the lobby creator to start the game...</p>

    <input type="hidden" id="isCreator" value="{{ is_creator|lower }}">
    <script type="text/javascript" charset="utf-8">
        var isCreator = document.getElementById('isCreator').value === 'true';
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/lobby');

        function joinLobby() {
            var nameInput = document.getElementById('name');
            var name = nameInput.value;
            socket.emit('join', {'lobby_id': '{{ lobby.lobby_id }}', 'name': name});
            
            // Hide the join form and show the waiting message
            document.querySelector('form').style.display = 'none';
            document.getElementById('waitingMessage').style.display = 'block';

            nameInput.value = '';
            return false;  // Prevent form submission
        }

        socket.on('participant_already_joined', function(data) {
            alert('This name has been taken. Please choose another name.');
        });
    </script>

    {% if not is_creator and already_joined %}
        {% if game_started|lower == 'true' %}
            <p>You are a member of this lobby and the game has started, <a href='../game/{{lobby.lobby_id}}'>join here</a></p>
        {% else %}
            <p>Waiting for the lobby creator to start the game...</p>
        {% endif %}
    {% endif %}

    <h4>Lobby Link:</h4>
    <input type="text" id="lobbyLink" value="{{ url_for('lobby', lobby_id=lobby.lobby_id, _external=True) }}" readonly>
    <button class="btn" data-clipboard-target="#lobbyLink">Copy Link</button>
    <script>
        var clipboard = new ClipboardJS('.btn');
    </script>
</body>
</html>