<!DOCTYPE html>

<html>
<head>
    <title>Lobby {{ lobby.lobby_id }}</title>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var startGameUrl = '{{ url_for("start_game", lobby_id=lobby.lobby_id) }}';
        var gameUrl = '{{ url_for("game", lobby_id=lobby.lobby_id) }}';
        var userToken = '{{ user_token }}';
        var lobbyId = '{{ lobby.lobby_id }}';
        var gameStarted = '{{ lobby.game_started }}'
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/lobby');

        var maxPlayerCount = 2;

        document.addEventListener('DOMContentLoaded', function () {
            var hasJoined = document.getElementById('alreadyJoined').value === 'true';

            if (gameStarted === 'True') {
                if (hasJoined === false) {
                    var joinForm = document.querySelector('form');
                    if (joinForm) {
                        joinForm.style.display = 'none';
                    }
                    document.getElementById('lobbyClosedMessage').style.display = 'block';
                }
                else
                {
                    startGame();
                }
            }

            socket.on('lobby_closed', function(data) {
                if (data.lobby_id === lobbyId) {
                    var joinForm = document.querySelector('form');
                    if (joinForm) {
                        joinForm.style.display = 'none';
                    }
                    document.getElementById('lobbyClosedMessage').style.display = 'block';
                }
            });

            socket.on('redirect_to_game', function(data) {
            if (hasJoined) {
                    window.location.href = gameUrl;
                }
            });

            if (hasJoined) {
                // Hide the join form
                var joinForm = document.querySelector('form');
                if (joinForm) {
                    joinForm.style.display = 'none';
                }

                // In case the person who created the lobby refreshes, we need to ensure the we count participants on page reload so we know whether to show the Start Game button
                var participantList = document.getElementById('participants');
                if (isCreator && participantList.getElementsByTagName('li').length >= maxPlayerCount) {
                    document.getElementById('startGameButton').style.display = 'block';
                }
            }
        });

        // Handle the join event
        socket.on('update_participants', function(data) {
            if (data.user_token === userToken) {
                hasJoined = true;
                // Hide the join form
                var joinForm = document.querySelector('form');
                if (joinForm) {
                    joinForm.style.display = 'none';
                }
            }

            // Update the participant list
            var participantList = document.getElementById('participants');
            if (participantList) {
                participantList.innerHTML += '<li>' + data.name + '</li>';

                // Check if the number of participants is 4 or more (to determine if the creator has enoug users to start lobby)
                if (isCreator && participantList.getElementsByTagName('li').length >= maxPlayerCount) {
                    document.getElementById('startGameButton').style.display = 'block';
                }

            } else {
                console.error('Participant list element not found');
            }
        });

        function startGame() {
            fetch(startGameUrl, { method: 'POST' })
                .then(response => {

                    window.location.href = gameUrl;
                });
        }
    </script>
</head>
<body>
    <input type="hidden" id="alreadyJoined" value="{{ 'true' if already_joined else 'false' }}">

    <h1>Lobby ID: {{ lobby.lobby_id }}</h1>
    <h2>Created by: {{ lobby.creator_name }}</h2>
    <h3>Participants:</h3>
    <ul id="participants">
        {% for participant in participants %}
            <li>{{ participant.name }}</li>
        {% endfor %}
    </ul>

    {% if is_creator %}
    <button id="startGameButton" onclick="startGame()" style="display: none;">Start Game</button>
    {% endif %}

    {% if not is_creator and not already_joined %}
    <form onsubmit="return joinLobby()">
        <label for="name">Enter your name to join:</label>
        <input type="text" id="name" name="name" required>
        <input type="submit" value="Join Lobby">
    </form>
    <div id="lobbyClosedMessage" style="display: none;">
        Sorry, you cannot join the lobby at this time as a game has started. You may join this lobby once participants finish with their game and return to lobby.
    </div>
    {% endif %}

    <p id="waitingMessage" style="display: none;">Waiting for the lobby creator to start the game...</p>

    <input type="hidden" id="isCreator" value="{{ is_creator|lower }}">
    <script type="text/javascript" charset="utf-8">
        var isCreator = document.getElementById('isCreator').value === 'true';
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/lobby');

        function joinLobby() {
            var nameInput = document.getElementById('name');
            var name = nameInput.value;
            socket.emit('join', {'lobby_id': '{{ lobby.lobby_id }}', 'name': name});
            
            // Hide the join form and show the waiting message
            document.querySelector('form').style.display = 'none';
            document.getElementById('waitingMessage').style.display = 'block';

            nameInput.value = '';
            return false;  // Prevent form submission
        }

        socket.on('participant_already_joined', function(data) {
            alert('This name has been taken. Please choose another name.');
        });
    </script>

    {% if not is_creator and already_joined %}
        {% if game_started|lower == 'true' %}
            <p>You are a member of this lobby and the game has started, <a href='../game/{{lobby.lobby_id}}'>join here</a></p>
        {% else %}
            <p>Waiting for the lobby creator to start the game...</p>
        {% endif %}
    {% endif %}

    <h4>Lobby Link:</h4>
    <input type="text" id="lobbyLink" value="{{ url_for('lobby', lobby_id=lobby.lobby_id, _external=True) }}" readonly>
    <button class="btn" data-clipboard-target="#lobbyLink">Copy Link</button>
    <script>
        var clipboard = new ClipboardJS('.btn');
    </script>
</body>
</html>